{% block matrix %}
    <div class="d-flex flex-wrap justify-content-center">
        {% for entry in entries %}
        <form action="/{{matrix_type}}/select" method="POST">
            <button type="submit" class="btn btn-light shadow-sm m-3" style="width: 10rem; height: 10rem;">Tisch {{entry.id}}
                <br/>
                <small>Drinks, Zwischensumme, ETC</small>
            </button>
            <input type="hidden" name="entry_id" value="{{ entry.id }}" />
        </form>
        {% endfor %}
    </div>
{% endblock %}    