includes:
    - vendor/symplify/phpstan-rules/config/regex-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon

parameters:
    level: 6
    tmpDir: var/cache/phpstan
    paths:
        - bin/
        - config/
        - public/
        - src/

    symfony:
        constantHassers: false
        containerXmlPath: 'var/cache/dev/App_KernelDevDebugContainer.xml'
