{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Tables
{% endblock %}

{% block body %}
<div class="d-flex flex-wrap justify-content-center">
    {% for table in tables %}
    <form action="/table/select" method="POST">
        <button type="submit" class="btn btn-light shadow-sm m-3" style="width: 10rem; height: 10rem;">Tisch {{table.id}}
            <br/>
            <small>Drinks, Zwischensumme, ETC</small>
        </button>
        <input type="hidden" name="table_id" value="{{ table.id }}" />
    </form>
    {% endfor %}
</div>
{% endblock %}
