<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GetMeADrink</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% if hmr %}
        <script type="module" rel="script" src="/_vite_/@vite/client"></script>
        <script type="module" rel="script" src="/_vite_/frontend/main.ts"></script>
        {% else %}
        <link rel="stylesheet" href="/frontend/assets/main.css">

        <script type="module" src="/frontend/assets/main.js"></script>
        <script type="module" src="/frontend/assets/polyfills.js"></script>
        {% endif %}

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
