<div class="d-flex flex-wrap justify-content-center" {{ attributes }}>
    {% for table in this.tables %}
    <button
        class="btn {% if table.orders|length > 0 %} btn-warning {% else %} btn-light {% endif %} shadow-sm m-3"
        style="width: 10rem; height: 10rem;"

        data-action="live#action"
        data-live-action-param="debounce(300)|selectTable"
        data-live-table-id-param="{{ table.id }}"
    >
        Tisch {{ table.id }}
        <br/>
        <small>Drinks, Zwischensumme, ETC</small>
    </button>
    {% endfor %}
</div>
