{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Order
{% endblock %}

{% block body %}
<div class="d-flex flex-wrap justify-content-center">
    {% for product in products %}
    <form action="/order/{{ order.id }}/select/{{ product.id }}" method="POST">
        <button type="submit" class="btn btn-light shadow-sm m-3" style="width: 10rem; height: 10rem;"> {{product.name}}
            <br/>
            <small>Drinks, Zwischensumme, ETC</small>
        </button>
    </form>
    {% endfor %}
</div>
{% endblock %}
