{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Order
{% endblock %}

{% block body %}
<div class="d-flex vh-100">
    {{ component('OrderDetails', { order: order }) }}
    {{ component('Products', { order: order }) }}
</div>
{% endblock %}
